.currentWeather {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-family: 'Oswald', sans-serif;
  color: whitesmoke;
  background-color: #ffffff25;
  border-radius: 25px;
  max-height: 500px;
}

.leftColumn {
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

h3 {
  font-size: 28px;
}

.tempNumber {
  font-size: 72px;
}

#currentTemp {
  margin-bottom: 10px;
}

.summary {
  grid-row: 2 / 4;
  font-size: 20px;
  padding: 20px;
}

.currentWeatherImg {
  grid-column: 2 / 3;
  margin: auto;
  margin-top: 40px;
  width: 300px;
}

.rightColumn {
  grid-column: 3 / 4;
  
}

