.DailyCard {
  color: whitesmoke;
  display: grid;
  grid-template-columns: 40% 20% 40%;
}

.dailyHigh {
  color: red;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.dailyLow {
  color: blue;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 10px;
}

.dailyWeatherIcon {
  height: 36px;
  padding-top: 10px;
}